[run]
source = .
omit = 
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    */celery.py
    */settings/*
    */__init__.py
    manage.py
    docker/*
    integrations/whatsapp_stub.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == "__main__":
    raise NotImplementedError
    pass
    ...
